* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  width: 100vw;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 5%;
  background-color: #1E1E1E;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

header  div.image-header {
  width: 200px;
  height: 60px;
}

header  div.image-header img {
  width: 100%;
  height: 100%;
}

header div.menu {
  width: 400px;
  height: 60px;
}

header div.menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

header div.menu ul li {
height: 30px;
display: flex;
margin-left: 2px;
border-bottom: 3px solid rgb(133, 133, 133);
font-weight: bold;
}

header div.menu ul li a {
  width: 100%;
  height: 100%;
  color: rgb(133, 133, 133);
  padding: 0 10px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (max-width: 670px) {
  header {
    justify-content: center;
  }
}

/* FIM HEADER */

/* H1 */
div.h1 h1{
  padding: 0 5%;
}

/* MAIN */

main {
  padding: 0 5%;
  display: flex;
  background-color: rgb(163, 168, 167);
}

section {
  width: 70%;
  background-color: brown;
}

div.box {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: cornflowerblue;
  text-align: center;
}

div.question {
  width: 100%;
  padding: 10px;
  background-color: darkgrey;
}

div.options {
  width: 100%;
  /* padding: 10px; */
  background-color: darkkhaki;
}

div.options ul {
  list-style: none;
}

div.options ul li {
  margin: 10px 0;
  border-radius: 10px;
  height: 30px;
  background-color: darkorchid;
}

div.options ul li div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: darkolivegreen;
}

div.options ul li div:active {
  background-color: red;
}




div.concluded {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: cornflowerblue;
  text-align: center;
}

div.concluded button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
}


button:active {
  opacity: 0.9;
}

aside {
  width: 30%;
  padding: 5%;
  background-color: coral;
}