@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  text-transform: uppercase;
}


div.container {
  width: 100%;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 5%;
  background-color: #1E1E1E;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

header  div.image-header {
  width: 200px;
  height: 60px;
}

header  div.image-header img {
  width: 100%;
  height: 100%;
}

header div.menu {
  height: 60px;
}

header div.menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

header div.menu ul li {
height: 30px;
display: flex;
margin-left: 2px;
border-bottom: 3px solid white;
font-weight: bold;
}

header div.menu ul li:hover {
  border-bottom: 3px solid #F34605;
}

header div.menu ul li a {
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 10px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

header div.menu ul li a:hover {
  color:#F34605;
}


@media only screen and (max-width: 760px) {
  header {
    justify-content: center;
    padding: 0;
  }

  header div.menu ul li a {
    font-size: 12px
  }

}
/* FIM HEADER */
div.h1 h1{
  margin: 20px 0;
  padding: 0 5%;
  text-align: center;
}
/* MAIN */
main {
  width: 100%;
  padding: 0 2%;
  display: flex;
}

section {
  width: 70%;
}

@media only screen and (max-width: 760px) {
  section {
    width: 100%;
  }

  aside {
    display: none;
  }
}
div.box {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: gray;
  text-align: center;
}

div.question {
  width: 100%;
}

div.options {
  width: 100%;
}

div.options ul {
  list-style: none;
}

div.options ul li {
  margin: 10px 0;
  border-radius: 10px;
  height: 30px;
}

div.options ul li div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}



.unselected {
  background-color: whitesmoke;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}

.selected {
  background-color: #F34605;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

div.concluded {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

div.concluded div.button {
  padding: 5px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #F34605;
  display: block;
  color: black;
  justify-content: center;
  box-shadow: 5px 5px 0px 0px  rgba(0, 0, 0, 0.5);
}

div.button:active {
  opacity: 0.5;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

aside {
  width: 30%;
  padding: 5%;
  background-color: coral;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: royalblue;
}

footer div.redes-sociais {
  text-align: center;
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 10px 0;
  border-top: 1px solid white;
}

footer div.redes-sociais div.icons {
  padding: 15px 0;
}

footer div.redes-sociais div.icons img {
  width: 50px;
  height: 50px;
  margin: 0 5%;
}

footer div.about {
  text-align: center;
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 15px 5%;
}

footer div.about h3 {
  margin: 10px 0;
}

footer div.copy {
  background-color: black;
  color: white;
  border-top: 1px solid white;
  text-align: center;
  padding: 10px 0;
}

footer div.copy button {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

/* MODAL ERROR */
.modalAlert {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalAlert.show {
  display: flex;
}

.button.error{
  width: 20%;
  height: 60px;
}

.boxAlert {
  width: 350px;
  height: 300px;
  background: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 0 10px black;
  z-index: 9999;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}